* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-responsive{
    display: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    /*border: 1px solid;*/
    color: black;
}

/*.hero {
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 56%), url(./Resources/casa_moderna_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}*/

.nav-section {
    display: flex;                    
    justify-content: center;    
    align-items: center;
    width: auto;
    position: fixed; /* Mantiene la barra fija en la parte superior */
    top: 0; /* Alinea la barra a la parte superior de la ventana */
    left: 0; /* Alinea la barra a la izquierda */
    right: 0; /* Alinea la barra a la derecha */
    z-index: 1000; /* Asegura que esté encima de otros elementos */   
    margin: 3rem 5rem;                   
}

.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    /*border: 1px solid;*/
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    padding: 0 5rem;
    margin: 0 5rem;
    backdrop-filter: blur(1rem);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); 
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;                  /* Eliminar viñetas de la lista */
    padding: 0;                        /* Eliminar padding */
    margin: 0;                         /* Eliminar márgenes */;
    height: 5rem;
    flex-wrap: nowrap;
}



.nav-bar ul li {
    margin: 0 4rem;
    text-decoration: none; 
    color: black;;
    flex: 1;
}

.nav-bar ul li a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    text-decoration: none; 
    color: black;
    white-space: nowrap;
}

.nav-bar ul li a:hover {
    cursor: pointer;

}

.logo-container p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    /*border: 1px solid;*/
    color: black;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid white;
    padding: 0.5rem 1rem;
}

.nav-button a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    text-decoration: none; 
    color: white;
}

.nav-button a:hover {
    cursor: pointer;
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /*border: 1px solid white;*/
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 56%), url(./Resources/casa_moderna_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title1 {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    width: 0 auto;
    /*border: 1px solid white;*/
    margin-left: 21rem;
}

.title2 {
    display: none;
    justify-content: center;
    align-items: center;
    width: 0 auto;
    /*border: 1px solid white;*/
    margin-right: 21rem;
}


.title1 h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #D8DBE2;
    margin-bottom: 1.5rem;
}

.title1 h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    /*border: 1px solid;*/
    color: #D8DBE2;
    margin-bottom: 1.5rem;
}

.title2 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    border: 1px solid white;
    color: #D8DBE2;
}

.btn-hero {
    border: 0.5px solid #D8DBE2; /* Establece el borde blanco */
    border-radius: 0.5rem;
    background: white; /* Sin fondo */
    color: #313638; /* Color del texto en blanco */
    padding: 10px 20px; /* Espaciado interno (opcional) */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem; /* Tamaño de fuente (opcional) */
    font-weight: 600;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background 0.3s, color 0.3s; /* Animación suave al hacer hover */
}

.btn-hero:hover {
    background: transparent; /* Sin fondo */
    color: #D8DBE2; /* Color del texto en blanco */
}


@media (max-width: 1280px) {
    .nav-bar ul li {
        margin: 0 1.5rem; /* Ajusta el valor según sea necesario */
    }
}


@media (max-width: 1024px) {
    .nav-list {
        display: none;
    }
    .title2 {
        display: none;
    }
    .title1 {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .contenido {
        justify-content: center;
    }    
}

@media (max-width: 857px) {
    .nav-elements {
        display: none;
    }
    .logo-responsive {
        display: flex;
    }
}

@media (min-width: 857px) {
    
}


@media (max-width: 768px) {
    .title1 h1 {
        font-size: 2rem; /* Tamaño de fuente aún más pequeño en pantallas menores a 768px */
    }
    .title1 h2 {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .title1 {
      margin: 0 1.5rem;  
    }
    .title1 h1 {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño en pantallas menores a 480px */
    }
    .title1 h2 {
        font-size: 1rem;
    }
}